<div class="container-fluid py-5">
    <div class="row justify-content-center">
        <div class="text-center my-5">
            <p class="display-4 font-weight-bold text-secondary">404</p>
            <h2>Not Found</h2>
            <h3 class="my-3">
                Sorry, we couldn't find this page. Go back on our home page!
            </h3>
            <div class="mt-4 text-center">
                <a routerLink="/" class="btn btn-secondary">
                    Home page
                </a>
            </div>
        </div>
    </div>
</div>
